.ox-footer {
  padding: 22px var(--margin-lateral);
  border-top: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--bg2);
}

.ox-footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ox-footer-logo {
  height: 32px;
  width: auto;
}

.ox-footer-links {
  display: flex;
  gap: 20px;
  font-size: 13px;
  color: var(--w50);
}

.ox-footer-links a:hover {
  color: var(--w);
}

.ox-footer-socials {
  display: flex;
  gap: 8px;
}

.ox-footer-socials a {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--w25);
}

.ox-footer-bottom {
  font-size: 12px;
  color: var(--w25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.ox-footer-bottom a {
  color: var(--w25);
}

.ox-footer-bottom a:hover {
  color: var(--w);
}
